<app-card>
  <h3 class="fw-normal card-header">Health</h3>
  <div class="icon-container">
    <span class="icon-help text-white-50 fs-4 fw-light"></span>
  </div>

  <div class="card-text fs-5 card-content">
    <table class="table">
      <tbody>
        <tr class="border-bottom border-secondary">
          <td class="text-white">Time</td>
          <td class="text-info">14% ahead of schedule.</td>
        </tr>
        <tr class="border-bottom border-secondary">
          <td class="text-white">Tasks</td>
          <td class="text-info">12 tasks to be completed.</td>
        </tr>
        <tr class="border-bottom border-secondary">
          <td class="text-white">Workload</td>
          <td class="text-info">0 tasks overdue.</td>
        </tr>
        <tr class="border-bottom border-secondary">
          <td class="text-white">Progress</td>
          <td class="text-info">14% complete.</td>
        </tr>
        <tr class="border-bottom border-secondary">
          <td class="text-white">Cost</td>
          <td class="text-info">42% under budget.</td>
        </tr>
      </tbody>
    </table>
  </div>
</app-card>
