<app-card>
  <h2 class="fw-normal card-heading mb-0 p-0">Health</h2>
  <div class="icon-container">
    <span class="icon-help icon-color fs-2"></span>
  </div>

  <div class="card-text fs-5 card-content">
    <table class="table">
      <tbody>
        <tr class="table-border-bottom">
          <td class="card-text-white px-0">Time</td>
          <td class="card-text-color px-0">14% ahead of schedule.</td>
        </tr>
        <tr class="table-border-bottom">
          <td class="card-text-white px-0">Tasks</td>
          <td class="card-text-color px-0">12 tasks to be completed.</td>
        </tr>
        <tr class="table-border-bottom">
          <td class="card-text-white px-0">Workload</td>
          <td class="card-text-color px-0">0 tasks overdue.</td>
        </tr>
        <tr class="table-border-bottom">
          <td class="card-text-white px-0">Progress</td>
          <td class="card-text-color px-0">14% complete.</td>
        </tr>
        <tr class="table-border-bottom">
          <td class="card-text-white px-0">Cost</td>
          <td class="card-text-color px-0">42% under budget.</td>
        </tr>
      </tbody>
    </table>
  </div>
</app-card>
