<header
  class="d-flex flex-column flex-md-row align-items-center justify-content-between justify-content-xl-start nav-border-bottom"
>
  <div class="col-lg-4 d-flex p-3">
    <h3 class="card-text-color fw-normal text-nowrap pe-4">
      Govalle Construction
    </h3>
    <div class="d-flex">
      <img
        src="../../../../assets/images/Profile-img.jpg"
        alt="image-1"
        class="profile-image border border-dark"
      />
      <img
        src="../../../../assets/images/Profile-img.jpg"
        alt="image-2"
        class="image profile-image border border-dark ms-n2"
      />
    </div>
  </div>

  <div class="col-lg-4 d-flex align-items-center justify-content-center">
    <span class="icon-list card-text-color fs-5 px-3"></span>
    <span class="icon-bar-chart-2 card-text-color fs-5 px-3"></span>
    <span class="icon-align-left card-text-color fs-5 px-3"></span>
    <span class="icon-server card-text-color fs-5 px-3"></span>
    <span class="icon-activity card-text-color active-border fs-5"></span>
    <span class="icon-calendar card-text-color fs-5 px-3"></span>
    <span class="icon-file card-text-color fs-5 px-3"></span>
    <div
      class="form-check form-switch d-flex align-items-center justify-content-center fs-4"
    >
      <input
        class="form-check-input bg-warning"
        type="checkbox"
        role="switch"
        id="flexSwitchCheckChecked"
        checked
      />
    </div>
  </div>
</header>
