<header class="d-flex align-items-center border-bottom border-secondary">
  <div class="col6 col-lg-4 d-flex p-3">
    <h3 class="text-info fw-normal text-nowrap mb-0 pe-4">
      Govalle Construction
    </h3>
    <div class="d-flex">
      <img
        src="../../../../assets/images/Profile-img.jpg"
        alt="image-1"
        class="profile-image border border-dark"
      />
      <img
        src="../../../../assets/images/Profile-img.jpg"
        alt="image-2"
        class="image profile-image border border-dark ms-n2"
      />
    </div>
  </div>

  <div class="d-flex align-items-center">
    <span class="icon-list text-info fs-5 px-3"></span>
    <span class="icon-bar-chart-2 text-info fs-5 px-3"></span>
    <span class="icon-align-left text-info fs-5 px-3"></span>
    <span class="icon-server text-info fs-5 px-3"></span>
    <span
      class="icon-activity text-info border border-3 border-warning fs-5"
    ></span>
    <span class="icon-calendar text-info fs-5 px-3"></span>
    <span class="icon-file text-info fs-5 px-3"></span>
  </div>
</header>
