.body-bg {
  background-color: var(--primary);
}

.card-heading {
  color: var(--white);
}

.card-text-color {
  color: var(--info);
}

.card-text-white {
  @extend .card-heading;
}

.icon-color {
  @extend .card-text-color;
}

.active-border {
  border: 2px solid var(--warning);
}

.card-border {
  border: 2px solid var(--border-color);
}

.table-border-bottom {
  border-bottom: 2px solid var(--border-color);
}

.nav-border-bottom {
  @extend .table-border-bottom;
}

.sidebar {
  background-color: var(--black);
}
