<section class="container-fluid px-0 h-100 pb-3">
  <div class="row m-0 h-100">
    <!-- Start: Health -->
    <div class="col-4 px-0">
      <div
        class="card bg-primary text-white border border-secondary border-end-0 border-bottom-0 rounded-0 h-100"
      >
        <div class="card-body p-4">
          <div
            class="card-title d-flex align-items-center justify-content-between"
          >
            <h3 class="fw-normal">Health</h3>
            <span class="icon-help text-white-50 fs-4 fw-light"></span>
          </div>
          <div class="card-text fs-5">
            <table class="table">
              <tbody>
                <tr class="border-bottom border-secondary">
                  <td class="text-white">Time</td>
                  <td class="text-info">14% ahead of schedule.</td>
                </tr>
                <tr class="border-bottom border-secondary">
                  <td class="text-white">Tasks</td>
                  <td class="text-info">12 tasks to be completed.</td>
                </tr>
                <tr class="border-bottom border-secondary">
                  <td class="text-white">Workload</td>
                  <td class="text-info">0 tasks overdue.</td>
                </tr>
                <tr class="border-bottom border-secondary">
                  <td class="text-white">Progress</td>
                  <td class="text-info">14% complete.</td>
                </tr>
                <tr class="border-bottom border-secondary">
                  <td class="text-white">Cost</td>
                  <td class="text-info">42% under budget.</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- End: Health -->

    <!-- Start: Tasks -->
    <div class="col-4 px-0">
      <div
        class="card bg-primary text-white border border-secondary border-end-0 border-bottom-0 rounded-0 h-100"
      >
        <div class="card-body p-4">
          <div
            class="card-title d-flex align-items-center justify-content-between"
          >
            <h3 class="fw-normal">Tasks</h3>
            <div>
              <span class="icon-move text-white-50 fs-4 fw-light pe-2"></span>
              <span
                class="icon-settings text-white-50 fs-4 fw-light pe-2"
              ></span>
              <span class="icon-help text-white-50 fs-4 fw-light"></span>
            </div>
          </div>
          <p class="card-text">
            <canvas id="tasks"></canvas>
          </p>
        </div>
      </div>
    </div>
    <!-- End: Tasks -->

    <!-- Start: Progress -->
    <div class="col-4 px-0">
      <div
        class="card bg-primary text-white border border-secondary border-end-0 border-bottom-0 rounded-0 h-100"
      >
        <div class="card-body p-4">
          <div
            class="card-title d-flex align-items-center justify-content-between"
          >
            <h3 class="fw-normal">Progress</h3>
            <div>
              <span class="icon-move text-white-50 fs-4 fw-light pe-2"></span>
              <span
                class="icon-settings text-white-50 fs-4 fw-light pe-2"
              ></span>
              <span class="icon-help text-white-50 fs-4 fw-light"></span>
            </div>
          </div>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
    </div>
    <!-- End: Progress -->

    <!-- Start: Time -->
    <div class="col-4 px-0">
      <div
        class="card bg-primary text-white border border-secondary border-end-0 border-bottom-0 rounded-0 h-100"
      >
        <div class="card-body p-4">
          <div
            class="card-title d-flex align-items-center justify-content-between"
          >
            <h3 class="fw-normal">Time</h3>
            <div>
              <span class="icon-move text-white-50 fs-4 fw-light pe-2"></span>
              <span
                class="icon-settings text-white-50 fs-4 fw-light pe-2"
              ></span>
              <span class="icon-help text-white-50 fs-4 fw-light"></span>
            </div>
          </div>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
    </div>
    <!-- End: Time -->

    <!-- Start: Cost -->
    <div class="col-4 px-0">
      <div
        class="card bg-primary text-white border border-secondary border-end-0 border-bottom-0 rounded-0 h-100"
      >
        <div class="card-body p-4">
          <div
            class="card-title d-flex align-items-center justify-content-between"
          >
            <h3 class="fw-normal">Cost</h3>
            <div>
              <span class="icon-move text-white-50 fs-4 fw-light pe-2"></span>
              <span
                class="icon-settings text-white-50 fs-4 fw-light pe-2"
              ></span>
              <span class="icon-help text-white-50 fs-4 fw-light"></span>
            </div>
          </div>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
    </div>
    <!-- End: Cost -->

    <!-- Start: WorkLoad -->
    <div class="col-4 px-0">
      <div
        class="card bg-primary text-white border border-secondary border-end-0 border-bottom-0 rounded-0 h-100"
      >
        <div class="card-body p-4">
          <div
            class="card-title d-flex align-items-center justify-content-between"
          >
            <h3 class="fw-normal">WorkLoad</h3>
            <div>
              <span class="icon-move text-white-50 fs-4 fw-light pe-2"></span>
              <span
                class="icon-settings text-white-50 fs-4 fw-light pe-2"
              ></span>
              <span class="icon-help text-white-50 fs-4 fw-light"></span>
            </div>
          </div>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
    </div>
    <!-- End: WorkLoad -->
  </div>
</section>
